header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid seashell;
  text-align: center;
}
.navigation {
  background-color: aliceblue;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 20px 10px;
}
.container {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 300px 300px 300px 300px 300px;
  grid-template-rows: 150px 150px;
  grid-gap: 5px;
  justify-content: center;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vertical {
  grid-row: span 3;
}